@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

.calendar-page {
  display: flex;
  height: 100vh;
}

.calendar-content {
  flex-grow: 1;
  padding: 20px 0; /* Remove left and right padding */
  margin-left: 250px; /* Adjust for sidebar width */
  margin-top: 80px; /* Adjust for navbar height */
}

.calendar-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.month-year {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #333333; /* Dark grey */
  margin-left: 20px; /* Space between arrows and month-year text */
}

.nav-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 30px; /* Increase the size of the arrows */
  margin-right: 20px; /* Add a little spacing between the two arrows */
}

/* Today Button */
.today-button {
  margin-left: 20px; /* Space between the month-year text and the button */
  padding: 8px 16px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: #F2AE30; /* Slightly warm color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease;
}

.today-button:hover {
  background-color: #d49b29; /* Darker shade for hover */
}

/* Days of the Week (outside the grid) */
.calendar-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 columns, one for each day */
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #333333;
  margin-bottom: 10px;
}

.weekday {
  padding: 5px 20px;
}