@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.navbar {
  background-color: #2c2c2c; /* Darker color to match the sidebar */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 80px; /* Thicker navbar */
  position: fixed;
  top: 0;
  left: 250px; /* Ensures the navbar starts after the sidebar */
  width: calc(100% - 250px); /* Adjust width based on sidebar width */
  font-family: 'Montserrat', sans-serif; /* Use Montserrat font */
  z-index: 999; /* Keep it above other elements */
}

.navbar-text {
  color: white;
  font-size: 18px;
}

.navbar-profile {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 10px;
  height: 100%;
  transition: background-color 0.3s ease;
}

.navbar-profile:hover {
  background-color: #4c4c4c; /* Slightly lighter color for hover effect */
  border-radius: 5px;
}

.user-icon {
  width: 40px;
  height: 40px;
}

.dropdown-arrow {
  width: 20px; /* Smaller than the user image */
  height: 20px;
  margin-left: 10px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #2c2c2c;
  width: 150px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown-item {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.dropdown-item:hover {
  background-color: #4c4c4c;
}