.athletes-page {
  padding: 20px;
  margin-left: 250px;
  margin-top: 80px;
}

/* Header container for search and button */
.athletes-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.search-box-wrapper {
  flex-basis: 300px; /* Define the fixed width for the search box */
  margin-right: 20px; /* Space between the search box and the button */
}

/* Button for adding an athlete */
.add-athlete-button {
  padding: 12px 36px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: #F2AE30;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  white-space: nowrap;
  margin-left: 20px;
  flex-shrink: 0;
}

.add-athlete-button:hover {
  background-color: #d49b29;
}

/* Grid layout for athlete cards */
.athletes-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  justify-items: stretch;
}

/* Message for no athletes found */
.no-athletes-message {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #333;
  text-align: center;
  padding: 20px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-top: 0;
}
