.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
  }
  
  .error-title {
    font-size: 120px;
    font-weight: bold;
    color: #f27405; /* Bright color for the 404 */
  }
  
  .error-message {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .go-home-button {
    padding: 12px 36px;
    font-size: 18px;
    background-color: #f2ae30;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .go-home-button:hover {
    background-color: #d99427;
  }
  